.DS_Store
config.php
error_log
failed-login.log
php_errors.log
php-errors.log
test.php

# Editor temp files
*#
*~
*.orig

/.idea/
/app/libraries/*
/app/resources/tmp/*
/nzedb/config/config.php
/nzedb/config/settings.php
/nzedb/config/ircscraper_settings.php
/nzedb/config/ircscraper.php
/nzedb/config/opensssl.php
/nzedb/processing/post/CRC.php

/nbproject/
/nbproject/private/
/resources/covers/*
/resources/nzb/*
/resources/smarty/templates_c/*.php
/resources/tmp/*
/templates_c/*
/libraries/*
/www/themes/shared/libs/
