*				binary
*.eot			binary
*.gif			binary
*.ico			binary
*.jpg			binary
*.otf			binary
*.png			binary
*.swf			binary
*.ttf			binary
*.woff			binary
*.woff2			binary

*.ai			eol=crlf -whitespace
*.bat			-binary text eol=crlf
*.css			-binary text eol=lf -whitespace
*.html			-binary text eol=lf
*.js			-binary text -whitespace
*.json			-binary text eol=lf
*.less			-binary text eol=lf
*.md			-binary text eol=lf conflict-marker-size=100
*.php			-binary text eol=lf
*.sh			-binary text eol=lf
*.sql			-binary text eol=lf
*.svg			-binary text eol=lf
*.tpl			-binary text eol=lf -whitespace
*.tsv			-binary text eol=crlf -whitespace
*.txt			-binary text eol=lf conflict-marker-size=100
*.vcproj		-binary text eol=crlf
*.xml			-binary text eol=lf
*.yml			-binary text eol=lf

libs/*			-whitespace

Changelog		-binary text eol=lf
ReleaseNotes	-binary text eol=lf
/libs/smarty/nZEDb_NOTES -binary text eol=lf
.gitignore		-binary text
.gitattributes	-binary text
.gitmodules	-binary text
composer.lock	-binary text
