.DS_Store
composer.*
config.php
error_log
failed-login.log
php_errors.log
php-errors.log
test.php

# Editor temp files
*#
*~
*.orig

/.idea/
/app/resources/tmp/*

/nbproject/
/nbproject/private/
/resources/*.csv
/resources/covers/*
/resources/nzb/*
/resources/tmp/*
/templates_c/*
/vendor
