
body { background:#111; color: #ccc; background-image:url('images/bg.gif'); background-repeat:repeat-x; font-family: "Trebuchet MS", "Lucida Grande", Arial, Helvetica, sans-serif;}
.w3validator {display:none;}
#logo {background: 0;}
#logo h1 {display:block;float:left;padding:0; font-size: 24px;}
#logo .logoimg {display:none;}

#menusearchlink input, #menusearchlink select { font-size: 0.9em; color:#111; background-color: #eee; }
input#headsearch_go { background-color: #333; }

/* override table styles, alt rows, headings etc*/
table tr { background-color: #111; }
table tr.alt { background-color: #333; }
table tr.new { background-color: #3f3f3f; border-bottom: 1px solid #111; }
table tr.selected { background-color: green; border-bottom: 1px solid #111; }
table.highlight tr:hover td { background-color: green; }
table.data th { background-color:#555; }
table.data th, table.data td, table.data { border-width: 0px; }
table td.static { background-color: #111;  border: 1px solid #333; }

/* override almost every element in the sites font and color*/
#logo h1 a, #sidebar li, h3, h2, table.data, #statusbar, #statusbar a, div.comments , #menulink a, #menulink :visited, #menulink a , #sidebar h2, #sidebar li li a, li, #content h1, p, #menulink a.selected, #menulink a, #statusbar, #statusbar a, th, td, a {font-family:'Trebuchet MS', 'Lucida Grande', Arial, Helvetica, sans-serif; color:#DDD;}
#content h1 { font-size: 16px; }
#content h2 { font-size: 14px; }
#content h3 { font-size: 12px; }
#content p { font-size: 12px;}
#sidebar li li, #sidebar li li:hover { background:none;}
#sidebar li li a {padding: 0 0 0 0;}
#sidebar a:hover { text-decoration: underline;}

.rndbtn { padding-left:4px; padding-right:4px; padding-top: 1px; padding-bottom: 1px; margin-right:1px; border:1px #666 solid; background-color:#111; -moz-border-radius: 5px;  -webkit-border-radius: 5px;}
table.highlight tr:hover .rndbtn, table tr.alt .rndbtn { background-color: #111; }
table.highlight tr:hover .rndbtn:hover { background-color: #111; }
.rndbtn, a.rndbtn {font-size: 0.8em; background-color: #333; color: #ccc; }
table.highlight tr:hover td.static { background-color: #111; }


div.nzb_multi_operations { color:#eee; display:inline; float:right; padding-bottom: 5px; }
div.nzb_multi_operations input { color:#eee; background-color:#333; border:1px solid #666; }
div.nzb_multi_operations input.nzb_multi_operations_sab { display:none; }
div.nzb_multi_operations input:hover { color:#fff; border:1px solid #999; cursor:pointer; background-color: #555; }

div.pager a {font-weight:normal; background-color:#333; padding:0 3px 0px 4px; border:1px #666 solid; color: #eee; font-size: 11px; }
div.pager .current, div.pager a:hover {color:#fff; font-weight:normal; background-color:#555; padding:0 3px 0px 4px; border:1px #999 solid; text-decoration:none; font-size: 11px;}

input[type=text], input[type=password], textarea, select { background: #111; border: 1px solid #666; color: #ccc;}

table.data td.less, div.resextra {font-size: 0.9em; color: #ccc; }
div.resextra { padding-bottom: 3px; padding-right: 5px; }
div.resextra a { color: #ccc; text-decoration:none; }

/* menu bar background colours*/
#menulink a, #menulink :visited, #menulink li, #menu {color:#fff;  background-color:#333;}
#menulink :hover { color: #fff; background-color: #555; }
#menu { padding-left:0px; padding-right:0px; margin-right:0px; border:0px; background-color:#333; -moz-border-radius: 0px;  -webkit-border-radius: 0px;}
#menulink a, #menulink :visited {height:28px; display: block; font-size: 0.9em; width: 70px; padding: 2px 0px 2px 5px;}

#logo { height: 47px; }
#logo ul ul {list-style-image: url('images/menubullet.png');}
#logo ul a:hover { text-decoration: underline; }
#logo ul li a { color:#FFF }

#content {padding:10px; background:#111; width:1016px;}
#page {padding: 0px 0px 0px; background:#111;}
.footer { border-top: none; background: #111; }

.title {font-weight:bold;}

#header { width: 1040px; }
#page { width: 1040px;}
#logo { width: 1040px;}
#statusbar { width:1040px;}
#menucontainer { width:1040px; }

div.movextra { color: #ccc; }

pre#nfo { color: #fff; }
#cboxOverlay{background:#333;}

#colorbox{}
    #cboxTopLeft{width:25px; height:25px; background:url(../../images/colorbox/border1-dark.png) 0 0 no-repeat;}
    #cboxTopCenter{height:25px; background:url(../../images/colorbox/border1-dark.png) 0 -50px repeat-x;}
    #cboxTopRight{width:25px; height:25px; background:url(../../images/colorbox/border1-dark.png) -25px 0 no-repeat;}
    #cboxBottomLeft{width:25px; height:25px; background:url(../../images/colorbox/border1-dark.png) 0 -25px no-repeat;}
    #cboxBottomCenter{height:25px; background:url(../../images/colorbox/border1-dark.png) 0 -75px repeat-x;}
    #cboxBottomRight{width:25px; height:25px; background:url(../../images/colorbox/border1-dark.png) -25px -25px no-repeat;}
    #cboxMiddleLeft{width:25px; background:url(../../images/colorbox/border2-dark.png) 0 0 repeat-y;}
    #cboxMiddleRight{width:25px; background:url(../../images/colorbox/border2-dark.png) -25px 0 repeat-y;}
    #cboxContent{background:#333;}
    	#cboxLoadedContent{ background:#333; }
    	#cboxLoadingOverlay{background:#fff;}
        #cboxTitle{position:absolute; font-size:125%; top:-2px; left:0; color:#eee; }
        #cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-1px; background:url(../../images/colorbox/controls-dark.png) 0 0 no-repeat;}
        #cboxPrevious{background-position:0px 0px; right:44px;}
        #cboxPrevious.hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; right:22px;}
        #cboxNext.hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; right:0;}
        #cboxClose.hover{background-position:-50px -25px;}
        
.cboxMovie #cboxLoadedContent{margin-top: 5px; background:#111; padding:1px;}
.cboxMovie #cboxSlideshow, .cboxMovie #cboxPrevious, .cboxMovie #cboxNext, .cboxMovie #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-20px; background:url(../../images/colorbox/controls-dark.png) 0 0 no-repeat;}
.cboxMovie #cboxPrevious{background-position:0px 0px; right:44px;}
.cboxMovie #cboxPrevious.hover{background-position:0px -25px;}
.cboxMovie #cboxNext{background-position:-25px 0px; right:22px;}
.cboxMovie #cboxNext.hover{background-position:-25px -25px;}
.cboxMovie #cboxClose{background-position:-50px 0px; right:0;}
.cboxMovie #cboxClose.hover{background-position:-50px -25px;}