
body { background:none; color: #333; }
.footer, .w3validator, .menupic {display:none;}
#logo { visibility:none; height:15px; background:none;}

/* override table styles, alt rows, headings etc*/
table tr.alt { background-color: #eee; }
table tr.new { background-color: #fff; }
table.highlight tr:hover td { background-color: #efefef; }
table.data th { background-color:#fff; border-color: #ddd;}
table.data td, table.data { border-color: #ddd;}


/* override almost every element in the sites font and color*/
#sidebar li, h3, h2, table.data, #statusbar, #statusbar a, div.comments , #menulink a, #menulink :visited, #menulink a , #sidebar h2, #sidebar li li a, li, #content h1, p, #menulink a.selected, #menulink a, #statusbar, #statusbar a, th, td, a, select, textarea, input {font-family:Calibri, courier, monospace; color:#444;}
#sidebar li li, #sidebar li li:hover { background:none;}
#sidebar li li a {padding: 0 0 0 0;}
#sidebar a:hover { text-decoration: underline;}

input[type=text],
input[type=password],
textarea,
select { background: none; }

/* menu bar background colours*/
#menulink a, #menulink :visited, #menulink li, #menu { background-color:#fff;}
#menulink :hover { color: #fff; background-color: #333; }

table.data td.less, div.resextra {font-size: 0.9em;}
div.resextra a:hover {text-decoration:underline;}

select#headcat {width:100px;}

a:hover, #sidebar li li a:hover {color:#000;}

.rndbtn { padding-left:0px; padding-right:1px; margin-right:0px; border:1px #FFF solid; background-color:#FFF; -moz-border-radius: 0px;  -webkit-border-radius: 0px;}
#menu { padding-left:0px; padding-right:1px; margin-right:0px; border:0px ; background-color:#FFF; -moz-border-radius: 0px;  -webkit-border-radius: 0px;}

table.highlight tr:hover .rndbtn { border:1px #EEE solid; background-color: #EEE;}
table tr.alt .rndbtn { border:1px #EEE solid; background-color: #EEE; }
table.highlight tr:hover .rndbtn:hover { background-color: #EEE; }

table tr.new .rndbtn { background-color: #fff; }

table td.static { background-color: #FFF; }
table.highlight tr:hover td.static { background-color: #FFF; }