<?php
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////// Copy this file to settings.php and edit the options. //////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/**********************************************************************************************************************/
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// Web Settings //////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/**
 * How many releases to show per page in list view.
 * @default 50
 */
define('ITEMS_PER_PAGE', '50');

/**
 * How many releases to show per page in cover view.
 * @default 20
 */
define('ITEMS_PER_COVER_PAGE', '20');

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// CLI Settings //////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/**
 * Display text to console(terminal) output.
 * @default true
 */
define('nZEDb_ECHOCLI', true);

/**
 * Rename releases using PAR2 files (if they match on PRE titles)?
 * @default true
 */
define('nZEDb_RENAME_PAR2', true);

/**
 * Rename music releases using media info from the MP3/FLAC/etc tags (names are created using info found in the tags)?
 * @default true
 */
define('nZEDb_RENAME_MUSIC_MEDIAINFO', true);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////// Cache Settings /////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/**
 * Type of cache server(s) to use:
 * 0 - disabled   ; No cache server(s) will be used.
 * 1 - memcached  ; Memcached server(s) will be used for caching.
 * 2 - redis      ; Redis server(s) will be used for caching.
 *
 * We use the Redis extension by nicolasff.
 * @see https://github.com/nicolasff/phpredis
 */
define('nZEDb_CACHE_TYPE', 0);

/**
 * List of redis or memcached servers to connect to. Separate them by comma.
 * Host:   (string)  Address for the cache server. '127.0.0.1' for a local server.
 * Port:   (integer) Default for memcached is 11211, Default for redis is 6379
 * Weight: (integer) On redis, this is unused, set it to 0.
 *                   On memcached if you have 1 memcached server, you set this to 100.
 *                   If you have more than 1 memcached server, see the memcached documentation for more info:
 *                   http://php.net/manual/en/memcached.addserver.php
 */
define(
	'nZEDb_CACHE_HOSTS',
	serialize(
		array(
			'Server1' => array(
				'host'   => '127.0.0.1',
				'port'   => 11211,
				'weight' => 0
			),
		)
	)
);

/**
 * Optional path to unix socket file, leave '' if to not use.
 * If using a unix socket file, the server list is overridden.
 * This should be faster than using the host/port if your cache server is local.
 * @example '/var/run/redis/redis.sock'
 * @note By default, redis and memcached do not have a socket file, you must configure them.
 * @note Read and write access is required to the socket file.
 */
define('nZEDb_CACHE_SOCKET_FILE', '');

/**
 * Timeout for connecting to cache server(s).
 */
define('nZEDb_CACHE_TIMEOUT', 10);

/**
 * Memcached allows to compress the data, saving RAM at the expense of CPU time.
 * @note Does nothing on redis.
 */
define('nZEDb_CACHE_COMPRESSION', false);

/**
 * 0 - Use the PHP serializer.
 * 1 - [Requires igbinary] Use igbinary serializer which is faster and uses less memory, works on both Memcached and Redis.
 * 2 - [Redis Only] Use no serializer.
 *
 * @note igbinary must be compiled and enabled in php.ini
 * @note Memcached/Redis must be compiled with igbinary support as well to use igbinary.
 * @see https://github.com/phadej/igbinary
 * @see https://github.com/nicolasff/phpredis
 */
define('nZEDb_CACHE_SERIALIZER', 0);

/**
 * Amount of time in seconds to expire data from the cache server.
 * The developers of nZEDb decide what should be set as short/medium/long, depending on the type of data.
 */
define('nZEDb_CACHE_EXPIRY_SHORT', 300);
define('nZEDb_CACHE_EXPIRY_MEDIUM', 600);
define('nZEDb_CACHE_EXPIRY_LONG', 900);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////// Log Settings //////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/**
 * Display debug messages on console or web page.
 * @default false
 */
define('nZEDb_DEBUG', false);

/**
 * Log debug messages to nzedb/resources/debug.log
 * @default false
 */
define('nZEDb_LOGGING', false);

/**
 * var_dump missing autoloader files.
 * @note Dev setting.
 * @default false
 */
define('nZEDb_LOGAUTOLOADER', false);

/*********************************************************************************
 * The following options require either nZEDb_DEBUG OR nZEDb_LOGGING to be true: *
 *********************************************************************************/

/**
 * Log and/or echo debug Info messages.
 * @default false
 */
define('nZEDb_LOGINFO', false);

/**
 * Log and/or echo debug Notice messages.
 * @default false
 */
define('nZEDb_LOGNOTICE', false);

/**
 * Log and/or echo debug Warning messages.
 * @default false
 */
define('nZEDb_LOGWARNING', false);

/**
 * Log and/or echo debug Error messages.
 * @default false
 */
define('nZEDb_LOGERROR', false);

/**
 * Log and/or echo debug Fatal messages.
 * @default false
 */
define('nZEDb_LOGFATAL', false);

/**
 * Log and/or echo debug failed SQL queries.
 * @default false
 */
define('nZEDb_LOGQUERIES', false);

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////// Various Settings ////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/**
 * Strip white space (space, carriage return, new line, tab, etc) from queries before sending to MySQL.
 * This is useful if you use the MySQL slow query log.
 * @note This slows down query processing, leave it false unless you turn on the MySQL slow query log.
 * @default false
 */
define('nZEDb_QUERY_STRIP_WHITESPACE', false);