body {
	background: black;
	color: white;
}

header {
	background-color: black;
	color: white;
	font-size: 24px;
	height: 85px;
	padding: 8px 15px;
}

.container {
	min-height: 90%;
}

#userbar {
	float: right;
}

#statusbar {
	float: right;
}

#statusbar a {
	color: red;
}
