/*
site wide html styles
*/
body { margin: 0; padding: 0; background: #FFF url(../../../themes/shared/images/menu.gif) repeat-x left top; font-family: Calibri, Arial, Helvetica, sans-serif;	font-size: 12px; color: #515151; }
h1, h2, h3 {	margin: 0;	font-weight: normal; color: #485459; }
input, select, textarea { font-family: Calibri, Arial, Helvetica, sans-serif;}
textarea { height:100px; width:300px;}
h1 { font-size: 44px; padding-bottom:10px;}
h2 { padding-bottom:5px; font-size: 1.6em; }
h3 { padding:10px 0 5px 0;}
p, ul, ol { margin-top: 0; line-height: 240%;	text-align: justify; }
ul, ol { }
blockquote { }
a.group_deactive { color: rgb(0, 140, 0) }
a { color: #B22222; text-decoration: none;}
a:hover { text-decoration: underline; }
a img { border: none; }
img.left { float: left; margin: 7px 30px 0 0; }
img.right { float: right; margin: 7px 0 0 30px; }
hr { display: none; }
.searchdaysinput { width: 73.5px; }
.searchadv { width: 160px; }
.searchadvbtns { width: 170px; }
.outercheckbox { width: 23px; }
input[type=text], input[type=password], textarea, select { background: #fff; background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(4%, #f0f0f0), to(#fff)); border: 1px solid #ccc; border-bottom-color: #999; border-right-color: #999; margin: 0; padding: 4px; color: #444; font-size: 100%; outline: none; }

/*
page structure
*/
#header { width: 85%;	margin: 0 auto; }
#page { width: 85%; margin: 0 auto; padding: 50px 0px 0px 0px;}

#logo { width: 85%; height: 65px; margin: 0 auto; padding-left:5px; margin-top:5px; background:url("../../../themes/shared/images/logo.png") no-repeat bottom left; }
#logo h1, #logo p { display:none; margin: 0px; line-height: normal; text-transform: lowercase; font-weight: normal; color: #485459;}
#logo p { margin-top: 2px; text-transform: lowercase; font-size: 13px; color: #A8A8A8;}
#logo h1 { padding-top: 10px; font-size: 48px;}
#logo a { text-decoration: none; color: #A8A8A8;}
#logo .logolink {float:left;}
#logo img { margxin-top:15px; }
#logo h1 a { text-decoration: none; color: #485459;}

#statusbar { width:85%; margin: 0 auto; text-align:right; padding:5px 10px 0 0;}
#statusbar a { text-decoration: none; color: #515151;}

#content { float: right; width: 100%;}
#content h1 { font-size: 2.3em;}
#content p { margin-bottom:20px;}

#sidebar { float: left; width: 160px; font-size: 12px;}
#sidebar ul {margin: 0; padding: 0; line-height: normal; list-style-type: none; text-align: left; }
#sidebar li { margin-bottom: 30px; padding: 0 0 0 0;}
#sidebar li ul { list-style-type: none;  list-style-position:inside; margin: 0px 10px; padding: 0; margin-left: 1em;}
#sidebar li li { background-image: url('../../../themes/shared/images/bullet.jpg'); background-repeat: no-repeat; background-position: 0.7em 1.1em; margin: 0;	padding-left: .5em; padding-top: .8em;padding-bottom:10px; border-bottom: 1px solid #E9E8DD;}
#sidebar li li a {padding: 0 0 0 20px; font-weight: normal; color: rgb(178, 34, 34); text-decoration: none;}
#sidebar li li a:hover {text-decoration: underline; color: rgb(178, 34, 34);}
#sidebar li li:hover { cursor:pointer; background-color:#EEE; background-image: url('../../../themes/shared/images/bullet_hov.png');}

#sidebar p { margin: 0; padding: 0px 14px;}
#sidebar h2 { height: 30px; margin: 0 0 5px 0px; padding: 6px 0 2px 14px; font-size: 18px; font-weight: normal; color: #485459;}
#sidebar p { line-height: 200%;}
#sidebar a { text-align: left; text-decoration: none; font-weight: bold;}

/*
browse by category top menu
*/
#menu
{
	height:33px;
	float: left;
	width: 100%;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:2px #AAA solid;
	background-color:#e5e5e5;
}

.menupic {padding-left:15px;}

#menulink
{
	float: left;
	margin-left: 5px;
}
#menulink ul { list-style-type: none; padding: 0; margin: 0; }
#menulink li { float: left; position: relative; z-index: 100; }
#menulink a, #menulink :visited {height:32px; display: block; font-size: 0.9em; width: 80px; padding: 1px 0px 0px 5px; color: #000; background-color: #e5e5e5; text-decoration: none; text-align: left; vertical-align: middle; }
#menulink :hover, #menulink a.selected {color:#fff; background-color: #777; }
#menulink ul ul { visibility: hidden; position: absolute; width: 60px; height: 0; }
#menulink ul li:hover ul, #menulink ul a:hover ul { visibility: visible; }
#menusearchlink { padding-top:5px; float:right; }
#menusearchlink input, #menusearchlink select { font-size: 0.9em; color:#555; }
#menucontainer { height:10px; }

select#headcat {width:120px; float:right; margin-left:5px; height:25px;}
select#headcat option { padding-left: 10px; }
select#headcat option.grouping { padding-left: 5px; font-weight: bold; }
#headsearch{float:right;height:15px;}

.gobutton {display:inline;float:right;margin-left:5px;}
.gobutton input { background:url('../../../themes/shared/images/icons/go.png') no-repeat; cursor:pointer; border: none;	 width:30px; height:25px; }

/* menu styling for when menu is displayed in top position  */
#logo ul { list-style-type: none; float:right; margin: 0 0 10px 0; padding:0; line-height: normal; text-align: right; }
#logo ul li h2 {display:none;}
#logo ul li ul li {float: left; margin-left: 1em; padding-right:5px;  }
#logo ul li a {color:#333;}
#logo ul ul {list-style-type: disc;}

/*
data tables, most lists.
*/
#browsetable, #coverstable, #forumtable { margin-top: 10px; clear: both; }
table.data { border-collapse:collapse; }
table.data th { text-align:left; vertical-align:top; background-color:#DDD; border-color: #AAA; border-width: 1px; border-style: solid; padding:3px; font-style:bolder; text-transform:capitalize;}
table.data td { white-space:normal; border-color: #AAA; border-width: 1px; border-style: solid; }
table.data td.less { color: #888; font-size: 0.9em; white-space:nowrap; }
table.data td.icons { width: 64px; margin-left: auto; margin-right: auto; white-space:nowrap; padding-left:0px; padding-right:0px; }
table.data td.category { width: 70px; text-align:center; font-size:0.9em; }
table.data td.posted { width: 40px; text-align:center; font-size:0.9em; }
table.data td.size { width: 56px; text-align:center; font-size:0.9em; }
table.data td.files { width: 30px; text-align:center; font-size:0.9em; }
table.data td.stats { width: 52px; text-align:center; font-size:0.9em; }
table.data td.check { width: 6px; cursor:pointer;}
table.highlight tr:hover td { background-color: #FDF5E6; }
table tr.alt { background-color: #F6F6F6; }
table tr.new { background-color: #f6f8ff; }
table.data em {font-weight:bolder; color:red;}
table td.item { padding:5px 5px 2px 5px; }
table td.static { background-color: #FFF; }
.left { text-align:left !important;}
.right { text-align:right !important;}
.mid { text-align:center !important;}
#detailstable { width: 70%; }
#detailstable th { width: 70px; }

table.innerdata { border-collapse:collapse;}
table.innerdata td { padding:2px; border-left-width:0; border-bottom-width:0; border-color: #EEE; }
table.innerdata th { padding:2px; border-style: none; background-color:#EEE;}

table.input th, table.input td { text-align: left; vertical-align:top; }

/*
predb
*/

.predb {
	color:#000;
	text-align: center;
}
.predb-left {
	text-align: left;
}

/*
form inputs and helpers
*/
div.hint, div.hint a { font-size:0.9em; font-style:italic; color:#999;}
div.explanation { padding: 5px 5px 5px 5px;  border:1px #CCC solid; margin-bottom:20px; }
div.hint { margin-bottom:10px;}
input.long {width:400px; }
input.longer {width:600px; }
input.short { width:40px; }
input.tiny { width: 31px; }
input.date { width:70px; }
fieldset { margin-bottom:20px; border:1px solid #999;}
legend { padding: 0.4em 0.6em; border:1px solid #999; font-weight:bold; text-align:left; }

/*
pager
*/
div.pager {display:inline;}
div.pager a {font-weight:bold; background-color:#DDD; padding:0 3px 0px 4px; border:1px #CCC solid;}
div.pager .current {color:#fff; font-weight:bold; background-color:#777; padding:0 4px 0px 4px; border:1px #CCC solid;}

/*
round buttoning
*/
.rndbtn { padding:2px 2px 2px 2px; margin:1px 2px 1px 1px; border:1px #CCC solid; border-radius: 3px; -moz-border-radius: 3px;  -webkit-border-radius: 3px;}
table.highlight tr:hover .rndbtn, table tr.alt .rndbtn { background-color: #fff; }
table.highlight tr:hover .rndbtn:hover { background-color: #DDD; }
table.highlight tr:hover td.static { background-color: #FFF; }

/*
site wide covers and images with dropshadows
*/
img.shadow {padding: 5px 5px 5px 5px; background: #FFF; border:1px solid #EEE; -moz-box-shadow: 3px 6px 8px -4px #777; -webkit-box-shadow: 3px 6px 8px -4px #777; box-shadow: 3px 6px 8px -4px #777; }

/*
mainly one-off styles used on individual pages
*/
#forumtable a.title { font-size: 1.4em; }

pre#nfo { font-family: "Courier New", "DejaVu Sans Mono", monospace; font-size: 12px; line-height: 13px; }

div.resextra { padding-top:7px; color: #555; font-size: 0.9em; height:16px; }
div.resextra a.browsename { color: #B22222; font-size: 0.9em; }
a.browsename:active {text-decoration: none}
a.browsename:hover {text-decoration: underline}
div.resextra a { color: #555; text-decoration:none; }
div.resextra div.admin { float:right; }
div.resextra div.btns {float:left; }

div.movextra { padding-top:5px; color: #888; font-size: 0.9em; }
div.movextra td {border:0; padding:0 0 10px 0}
div.movextra tr.mlextra {display:none;}

div.movcover { width:140px; }
div.movcover img { margin-bottom:5px;}

.mediainfo, .seriesinfo {cursor:pointer;}

a.external { background: url('../../../themes/shared/images/newwindow.png') center right no-repeat !important; padding-right:13px !important;}

ol.tracklist li { line-height: 140%; }

div.tvseriesheading img {float:right; margin:10px 0 10px 10px; }
div.tvseriesheading p {text-align:left;}

a.descmore {display:block; margin-top:10px;}
span.descfull {display:none;}
#detailstable a.descmore { display: inline; margin: 0px; }


div.error { padding:20px; padding-left:50px; border:1px solid #BBB; background: #FED0D0 url(../../../themes/shared/images/icons/warning.png) no-repeat top; background-position: 5px 50%; font-size:1.2em; font-weight:bold; margin-bottom:10px;}
div.comments { padding-top:20px; }

.invitesuccess {display:none; font-weight:bold; padding-left:10px; color:green;}
.invitefailed {display:none; font-weight:bold; padding-left:10px; color:red;}

div.nosearchresults {margin-left:25px; padding-top:50px;}
div.nosearchresults ul { line-height: 150%;}

span.warning { color: red; }

/*! nZEDb tooltip style */
.ui-tooltip-nzedb .ui-tooltip-titlebar,
.ui-tooltip-nzedb .ui-tooltip-content{
	border-color: #90D93F;
	color: #3F6219;
}

	.ui-tooltip-nzedb .ui-tooltip-content{
		background-color: #CAED9E;
	}

	.ui-tooltip-nzedb .ui-tooltip-titlebar{
		background-color: #B0DE78;
		color:white;
	}

	.ui-tooltip-nzedb .ui-state-default .ui-tooltip-icon{
		background-position: -42px 0;
	}

.rarfilelist {cursor:pointer;}
.tooltiphead {background-color:#A9DB66; padding:5px;color:white; font-weight:bold; margin:-5px -10px 5px -10px;}
.ui-tooltip ul {padding:0; margin:0;line-height: 160%;}
.ui-tooltip li {list-style-type:none;}

/*
movie, console and music modals with backdrop images.
*/
#movieinfo { background-position: center center; background-repeat: no-repeat; position: absolute; z-index: 2;}
#movieinfo h1 { font-size: 32px; padding: 10px 10px 0px 20px; color: #fff; text-shadow: 0px 0px 4px #000; }
#movieinfo h2, #movieinfo h3 { padding: 10px 20px 0px 20px; color: #fff; text-shadow: 0px 0px 4px #000; }
#movieinfo a { color: #fff; }
#movieinfo img.cover { margin-right: 20px; -webkit-box-shadow: 0px 0px 4px #000; -moz-box-shadow: 0px 0px 4px #000; }
#backdrop { position: absolute; width: 810px; height: 455px; margin-left: -3px; top: 20px; background-color: #000; overflow: hidden;}
#backdrop img { opacity:0.5; width: 100%; height: 100%;}

#musicinfo { color:#FFF; min-height:435px; background-color:#7F7F7F; background-image:url('../../covers/music/backdrop.jpg'); background-repeat: repeat-x;}
#musicinfo h1 { font-size: 32px; padding: 10px 10px 0px 20px; color: #fff; }
#musicinfo h2, #musicinfo h3, #musicinfo p { padding: 10px 20px 0px 20px; color: #fff;}
#musicinfo a { color: #fff; }
#musicinfo img.cover { float:right;  margin:20px 20px 0 20px; padding: 5px 5px 5px 5px; background: #FFF; border:1px solid #EEE; -moz-box-shadow: 3px 6px 8px -4px #333; -webkit-box-shadow: 3px 6px 8px -4px #333; box-shadow: 3px 6px 8px -4px #333; }
#musicinfo p {text-align: left; line-height: 180%;}

/*
icons and multioperation buttons
*/
input.nzb_check_all { margin-left:6px; }
#nzb_multi_operations_form { clear: both; }
div.nzb_multi_operations { color:#888; display:inline; float:right; text-align: right; clear: both; }
div.nzb_multi_operations input { color:#888; background-color:#fff; border:1px solid #ddd; }
div.nzb_multi_operations input:hover { color:#000; border:1px solid #000; cursor:pointer; }

div.icon { width:16px; height:16px; background-repeat:no-repeat; cursor:pointer; position:relative; float:left; margin:2px; }
table.data td.icons div.icon { opacity:.30; }
div.icon_cart			{ background-image:url('../../../themes/shared/images/icons/cartup.png'); }
div.icon_cart_clicked	{ background-image:url('../../../themes/shared/images/icons/cartdown.png'); }
div.icon_nzb			{ background-image:url('../../../themes/shared/images/icons/nzbup.png'); }
div.icon_nzb_clicked	{ background-image:url('../../../themes/shared/images/icons/nzbdown.png'); }
div.icon_nzb a			{ text-decoration:none; padding-bottom:2px; padding-right:12px; }
div.icon_sab			{ background-image:url('../../../themes/shared/images/icons/queueup.png'); }
div.icon_sab_clicked	{ background-image:url('../../../themes/shared/images/icons/queuedown.png'); }
div.icon_tvrage			{ background-image:url('../../../themes/shared/images/icons/tvrage.png'); }
div.icon_check			{ background-image:url('../../../themes/shared/images/icons/check.png'); }

/*
    ColorBox Core Style
    The following rules are the styles that are consistant between themes.
    Avoid changing this area to maintain compatability with future versions of ColorBox.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative; overflow:visible;}
#cboxLoadedContent{overflow:auto;}
#cboxLoadedContent iframe{display:block; width:100%; height:100%; border:0;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}

#cboxOverlay{background:#fff;}

#colorbox{}
    #cboxTopLeft{width:25px; height:25px; background:url(../../../themes/shared/images/colorbox/border1.png) 0 0 no-repeat;}
    #cboxTopCenter{height:25px; background:url(../../../themes/shared/images/colorbox/border1.png) 0 -50px repeat-x;}
    #cboxTopRight{width:25px; height:25px; background:url(../../../themes/shared/images/colorbox/border1.png) -25px 0 no-repeat;}
    #cboxBottomLeft{width:25px; height:25px; background:url(../../../themes/shared/images/colorbox/border1.png) 0 -25px no-repeat;}
    #cboxBottomCenter{height:25px; background:url(../../../themes/shared/images/colorbox/border1.png) 0 -75px repeat-x;}
    #cboxBottomRight{width:25px; height:25px; background:url(../../../themes/shared/images/colorbox/border1.png) -25px -25px no-repeat;}
    #cboxMiddleLeft{width:25px; background:url(../../../themes/shared/images/colorbox/border2.png) 0 0 repeat-y;}
    #cboxMiddleRight{width:25px; background:url(../../../themes/shared/images/colorbox/border2.png) -25px 0 repeat-y;}
    #cboxContent{background:#fff;}
        #cboxLoadedContent{background:#fff; margin-top:32px; padding:1px; }
        #cboxLoadingOverlay{background:#fff;}
        #cboxTitle{position:absolute; font-size:125%; top:-2px; left:0; color:#000; }
        #cboxCurrent{position:absolute; top:-1px; right:205px; text-indent:-9999px;}
        #cboxSlideshow, #cboxPrevious, #cboxNext, #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-1px; background:url(../../../themes/shared/images/colorbox/controls.png) 0 0 no-repeat;}
        #cboxPrevious{background-position:0px 0px; right:44px; border-style:solid; border-color:#fff;}
        #cboxPrevious.hover{background-position:0px -25px;}
        #cboxNext{background-position:-25px 0px; right:22px; border-style:solid; border-color:#fff;}
        #cboxNext.hover{background-position:-25px -25px;}
        #cboxClose{background-position:-50px 0px; right:0; border-style:solid; border-color:#fff;}
        #cboxClose.hover{background-position:-50px -25px;}
        .cboxSlideshow_on #cboxPrevious, .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxSlideshow_on #cboxSlideshow.hover{background-position:-100px -25px;}
        .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxSlideshow_off #cboxSlideshow.hover{background-position:-75px -25px;}

/*
    The following fixes png-transparency for IE6.
*/
.cboxIE #cboxTopLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../../../themes/shared/../../../themes/shared/images/colorbox/internet_explorer/borderTopLeft.png, sizingMethod='scale');}
.cboxIE #cboxTopCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../../../themes/shared/images/colorbox/internet_explorer/borderTopCenter.png, sizingMethod='scale');}
.cboxIE #cboxTopRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../../../themes/shared/images/colorbox/internet_explorer/borderTopRight.png, sizingMethod='scale');}
.cboxIE #cboxBottomLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../../../themes/shared/images/colorbox/internet_explorer/borderBottomLeft.png, sizingMethod='scale');}
.cboxIE #cboxBottomCenter{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../../../themes/shared/images/colorbox/internet_explorer/borderBottomCenter.png, sizingMethod='scale');}
.cboxIE #cboxBottomRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../../../themes/shared/images/colorbox/internet_explorer/borderBottomRight.png, sizingMethod='scale');}
.cboxIE #cboxMiddleLeft{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../../../themes/shared/images/colorbox/internet_explorer/borderMiddleLeft.png, sizingMethod='scale');}
.cboxIE #cboxMiddleRight{background:transparent; filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=../../../themes/shared/images/colorbox/internet_explorer/borderMiddleRight.png, sizingMethod='scale');}

/*
	Use colorbox example 2 css for movieinfo popups
*/
.cboxMovie{}
    .cboxMovie #cboxContent{background:#fff;}
    .cboxMovie #cboxTopLeft{width:25px; height:25px; background:url(../../../themes/shared/images/colorbox/border1.png) 0 0 no-repeat;}
    .cboxMovie #cboxTopCenter{height:25px; background:url(../../../themes/shared/images/colorbox/border1.png) 0 -50px repeat-x;}
    .cboxMovie #cboxTopRight{width:25px; height:25px; background:url(../../../themes/shared/images/colorbox/border1.png) -25px 0 no-repeat;}
    .cboxMovie #cboxBottomLeft{width:25px; height:25px; background:url(../../../themes/shared/images/colorbox/border1.png) 0 -25px no-repeat;}
    .cboxMovie #cboxBottomCenter{height:25px; background:url(../../../themes/shared/images/colorbox/border1.png) 0 -75px repeat-x;}
    .cboxMovie #cboxBottomRight{width:25px; height:25px; background:url(../../../themes/shared/images/colorbox/border1.png) -25px -25px no-repeat;}
    .cboxMovie #cboxMiddleLeft{width:25px; background:url(../../../themes/shared/images/colorbox/border2.png) 0 0 repeat-y;}
    .cboxMovie #cboxMiddleRight{width:25px; background:url(../../../themes/shared/images/colorbox/border2.png) -25px 0 repeat-y;}
        .cboxMovie #cboxLoadedContent{background:#fff; margin-top:32px; padding:1px; }
        /*.cboxMovie #cboxLoadingGraphic{background:url(../../../themes/shared/images/loading.gif) center center no-repeat;}*/
        .cboxMovie #cboxLoadingOverlay{background:#fff;}
        .cboxMovie #cboxTitle{position:absolute; font-size:125%; top:-2px; left:0; color:#000; margin-top:-10px;}
        .cboxMovie #cboxCurrent{position:absolute; top:-1px; right:205px; text-indent:-9999px;}
        .cboxMovie #cboxSlideshow, .cboxMovie #cboxPrevious, .cboxMovie #cboxNext, .cboxMovie #cboxClose{text-indent:-9999px; width:20px; height:20px; position:absolute; top:-1px; background:url(../../../themes/shared/images/colorbox/controls.png) 0 0 no-repeat;}
        .cboxMovie #cboxPrevious{background-position:0px 0px; right:44px;}
        .cboxMovie #cboxPrevious.hover{background-position:0px -25px;}
        .cboxMovie #cboxNext{background-position:-25px 0px; right:22px;}
        .cboxMovie #cboxNext.hover{background-position:-25px -25px;}
        .cboxMovie #cboxClose{background-position:-50px 0px; right:0;}
        .cboxMovie #cboxClose.hover{background-position:-50px -25px;}
        .cboxMovie .cboxSlideshow_on #cboxPrevious, .cboxMovie .cboxSlideshow_off #cboxPrevious{right:66px;}
        .cboxMovie .cboxSlideshow_on #cboxSlideshow{background-position:-75px -25px; right:44px;}
        .cboxMovie .cboxSlideshow_on #cboxSlideshow.hover{background-position:-100px -25px;}
        .cboxMovie .cboxSlideshow_off #cboxSlideshow{background-position:-100px 0px; right:44px;}
        .cboxMovie .cboxSlideshow_off #cboxSlideshow.hover{background-position:-75px -25px;}
