/*
site wide html styles
*/
body { 	margin: 0;	padding: 0;	background: #FFFFFF url(../images/menu.gif) repeat-x;	font-family: Calibri, Arial, Helvetica, sans-serif;	font-size: 14px;	color: #515151; }
input, select, textarea { font-family: Calibri, Arial, Helvetica, sans-serif; font-size: 14px;}
a { 	text-decoration: none; 	color: blue; }
h1, h2, h3 {	margin: 0;	font-weight: normal;	color: #485459; }
li { 	padding-top:10px; }
textarea { font-family: Arial, Helvetica, sans-serif; height:100px; width:300px;}
h1 { 	font-size: 3.0em; padding-bottom:10px;}
h2 { 	font-size: 2.0em; padding-bottom:10px;}
input[type=text], input[type=password], textarea, select { background: #fff; background: -webkit-gradient(linear, left top, left 25, from(#fff), color-stop(4%, #f0f0f0), to(#fff)); border: 1px solid #ccc; border-bottom-color: #999; border-right-color: #999; margin: 0; padding: 4px; color: #444; font-size: 100%; outline: none; }



/*
page layout
*/
#logo {	margin-left: 200px;	margin-top: 30px;	margin-bottom: 30px; }
.content {	border: 1px solid #515151;	width: 600px;	padding: 30px; margin-left: auto;	margin-right: auto; background: #FFF; border:1px solid #EEE; -moz-box-shadow: 3px 6px 8px -4px #777; -webkit-box-shadow: 3px 6px 8px -4px #777; box-shadow: 3px 6px 8px -4px #777; }
.footer {	font-size: 10px;	text-align: center; }

/*
install warning message
*/
div.error {	color: red;	padding: 20px; }
span.error {	color: red; }
span.warn {	color: orange; }
span.success {	color: green; }

/*
lists
*/
table.data { border-collapse:collapse; }
table.data th { text-align:left; vertical-align:top; background-color:#DDD; border-color: #AAA; border-width: 1px; border-style: solid; padding:3px; font-style:bolder; text-transform:capitalize;}
table.data td { white-space:normal; vertical-align:top; padding:5px; border-color: #AAA; border-width: 1px; border-style: solid; }
table.data td.less { color: #888; font-size: 0.8em; white-space:nowrap; }
table.data td.icons { white-space:nowrap; padding-left:0px; padding-right:0px; width:60px; }
table.highlight tr:hover td { background-color: #E1F0D9; }
table tr.alt { background-color: #EEE; }
table.data em {font-weight:bolder; color:red;}
div.hint, div.hint a {font-size:0.9em; font-style:italic; color:#999;}
div.hint { margin-bottom:10px;}
input.long {width:400px; }
input.short { width:40px; }
input.date { width:70px; }
