
body { background:#f1f1f1; color: #555; background-image:url('images/bg-light.gif'); background-repeat:repeat-x; font-family: "Trebuchet MS", "Lucida Grande", Arial, Helvetica, sans-serif;}
.w3validator {display:none;}
#logo {background: 0;}
#logo h1 {display:block;float:left;padding:0; font-size: 24px; color: #333; }
#logo .logoimg {display:none;}

#menusearchlink input, #menusearchlink select { font-size: 0.9em; color:#111; background-color: #eee; }
input#headsearch_go { background-color: #bbb; }

/* override table styles, alt rows, headings etc*/
table tr { background-color: #f1f1f1; }
table tr.alt { background-color: #e2e2e2; }
table tr.new { background-color: #f0fff0; border-bottom: 1px solid #f1f1f1; }
table tr.selected { background-color: #fff3e2; border-bottom: 1px solid #f1f1f1; }
table.highlight tr:hover td { background-color: #f0fff0; }
table.data th { background-color:#ccc; }
table.data th, table.data td, table.data { border-width: 0px; }
table td.static { background-color: #f1f1f1; border: 1px solid #e2e2e2; }

/* override almost every element in the sites font and color*/
#logo h1 a { color: #333; }
#sidebar li, h3, h2, table.data, #statusbar, #statusbar a, div.comments , #menulink a, #menulink :visited, #menulink a , #sidebar h2, #sidebar li li a, li, #content h1, p, #menulink a.selected, #menulink a, #statusbar, #statusbar a, th, td, a {font-family:'Trebuchet MS', 'Lucida Grande', Arial, Helvetica, sans-serif; color:#555;}
#content h1 { font-size: 16px; }
#content h2 { font-size: 14px; }
#content h3 { font-size: 12px; }
#content p { font-size: 12px;}
#sidebar li li, #sidebar li li:hover { background:none;}
#sidebar li li a {padding: 0 0 0 0;}
#sidebar a:hover { text-decoration: underline;}

.rndbtn { padding: 1px 4px 1px 4px; margin-right:1px; border:1px #555 solid; background-color:#e2e2e2; -moz-border-radius: 4px;  -webkit-border-radius: 4px;}
table.highlight tr:hover .rndbtn, table tr.alt .rndbtn { background-color: #e2e2e2; }
table.highlight tr:hover .rndbtn:hover { background-color: #f1f1f1; }
.rndbtn, a.rndbtn {font-size: 0.8em; background-color: #e2e2e2; color: #555; }
table.highlight tr:hover td.static { background-color: #f1f1f1; }

div.nzb_multi_operations { color:#333; display:inline; float:right; padding-bottom: 5px; }
div.nzb_multi_operations input { color:#333; background-color:#ddd; border:1px solid #ccc; }
div.nzb_multi_operations input.nzb_multi_operations_sab { display:none; }
div.nzb_multi_operations input:hover { color:#333; border:1px solid #333; cursor:pointer; background-color: #f0fff0; }

div.pager a {font-weight:normal; background-color:#ddd; padding:0 3px 0px 4px; border:1px #ccc solid; color: #333; font-size: 11px; }
div.pager .current, div.pager a:hover {color:#333; font-weight:normal; background-color:#f0fff0; padding:0 3px 0px 4px; border:1px #333 solid; text-decoration:none; font-size: 11px;}

input[type=text], input[type=password], textarea, select { background: #eee; border: 1px solid #bbb; color: #555;}

table.data td.less, div.resextra {font-size: 0.9em; color: #555; }
div.resextra { padding-bottom: 3px; padding-right: 5px; }
div.resextra a { color: #555; text-decoration:none; }

/* menu bar background colours*/
#menulink a, #menulink :visited, #menulink li, #menu {color:#fff;  background-color:#bbb;}
#menulink :hover { color: #fff; background-color: #aaa; }
#menu { padding-left:0px; padding-right:0px; margin-right:0px; border:0px; background-color:#bbb; -moz-border-radius: 0px;  -webkit-border-radius: 0px;}
#menulink a, #menulink :visited {height:28px; display: block; font-size: 0.9em; width: 70px; padding: 2px 0px 2px 5px;}

#logo { height: 47px; }
#logo ul ul {list-style-image: url('images/menubullet.png');}
#logo ul a:hover { text-decoration: underline; }
#logo ul li a { color:#333 }

#content {padding:10px; background:#f1f1f1; width:1016px;}
#page {padding: 0px 0px 0px; background:#f1f1f1;}
.footer { border-top: none; background: #f1f1f1; }

.title {font-weight:bold;}

#header { width: 1040px; }
#page { width: 1040px;}
#logo { width: 1040px;}
#statusbar { width:1040px;}
#menucontainer { width:1040px; }

div.movextra { color: #555; }